<%- include('./partials/header') %> 

<main>
<img src="https://image.tmdb.org/t/p/w500/<%= single.backdrop_path %>" alt="">
<article>
    <a href="/addfavourites/<%=single.id %> ">
    <img src="/assets/img/icon.png" alt="">
   
    <h2>Add to favourite</h2>
   </a>
</article>


</main>




<%- include('./partials/footer') %> 